<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wandongli.car.dao.BrandDao">
   <resultMap id="BrandResult" type="brand">
       <id property="id" column="id"></id>
       <result property="name" column="name"></result>
       <result property="priority" column="priority"></result>
       <result property="status" column="status" typeHandler="edu.wandongli.car.typehandler.StatusTypeHandler"></result>
       <result property="createTime" column="create_time"></result>
       <result property="updateTime" column="update_time"></result>
   </resultMap>
   <sql id="Brand_List">
       id,name,priority,status,create_time,update_time
   </sql>
</mapper>